---
import LinkButton from "./LinkButton.astro";
import { SITE } from "@/config";
---

{
  SITE.showBackButton && (
    <div class="app-layout flex items-center justify-start">
      <LinkButton
        id="back-button"
        href="/"
        class="focus-outline mt-6 mb-2 font-meta text-xs tracking-wide text-text-muted uppercase hover:text-accent-primary"
      >
        <span>&larr; Back</span>
      </LinkButton>
    </div>
  )
}

<script>
  /* Update Search Praam */
  function updateGoBackUrl() {
    const backButton: HTMLAnchorElement | null =
      document.querySelector("#back-button");

    const backUrl = sessionStorage.getItem("backUrl");

    if (backUrl && backButton) {
      backButton.href = backUrl;
    }
  }

  document.addEventListener("astro:page-load", updateGoBackUrl);
  updateGoBackUrl();
</script>
