---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, ...props } = data;
---

<li class="border-b border-border-subtle py-5 text-center last:border-b-0">
  <a
    href={getPath(id, filePath)}
    class:list={[
      "inline-block font-serif text-lg leading-tight font-semibold text-accent-primary",
      "underline-offset-4 hover:underline",
      "focus-visible:no-underline",
    ]}
  >
    <Heading
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
  </a>
  {
    description && (
      <p class="mx-auto mt-1.5 max-w-[40ch] font-serif text-sm text-text-secondary italic">
        {description}
      </p>
    )
  }
  <Datetime {...props} class="mt-2 justify-center" />
</li>
