---
type Props = {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
};

const { tag, tagName, size = "lg" } = Astro.props;
---

<li
  class:list={[
    "font-meta tracking-wide text-text-muted uppercase",
    "[&:not(:first-child)]:before:mr-2 [&:not(:first-child)]:before:content-['—']",
    { "text-xs": size === "sm" },
    { "text-sm": size === "lg" },
  ]}
>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class="hover:text-accent-primary focus-visible:text-accent-primary"
  >
    {tagName}
  </a>
</li>
